.ItemListContainer {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;     /* Centra el contenido verticalmente si es necesario */
    width: 100%;             /* Asegura que el contenedor ocupe todo el ancho disponible */
    margin: 20px 0;          /* Añade un margen superior e inferior */
  }
  
  .CategorySelect {
    max-width: 400px;  /* Establece un ancho máximo */
    width: 100%;       /* Hace que el select ocupe todo el ancho disponible del contenedor */
  }