@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

.descripton{
    background-color:#fff;
    padding: 15px;
}

.price{
    font-size: 4rem;
    font-family: "Montserrat", sans-serif
}

.numerCantidad{
    height: auto;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: xx-large;
}